.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.courseMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  overflow: auto;
  font-size: 18px;
}

.MainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.btn{
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(182, 125, 125);
  cursor: pointer;
  margin: 10px
}
